@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

:root {
  --dark-blue: #1c7ab1;
  --normal-blue: #29B6D1;
  --light-blue: #00C7C7;
  /* --light-blue: #96F2FB; */

  --normal-yellow: #FFD666;

  --ghost-white: #FBFBFF;
  --dark-soul: #343438;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: var(--ghost-white);
}

h1 {
  font-size: 1.8rem;
  font-weight: 700;
}

h2 {
  font-size: 1.6rem;
  font-weight: 600;

}

p {
  font-size: 1.4rem;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.container {
  width: 92.7%;
  padding: 0.7rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}